<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true" stopOnError="false"
	stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false"
	syntaxCheck="true" verbose="true">
	<php>
		<ini name="date.timezone" value="Europe/Paris" />
	</php>
	<testsuites>
		<testsuite name="Application Tests">
			<directory>../module/Application/tests/Application</directory>
		</testsuite>
		<testsuite name="Album Tests">
			<directory>../module/Album/tests/Album</directory>
		</testsuite>
		<testsuite name="CsnUsers Tests">
			<directory>../vendor/coolcsn/csn-user/test</directory>
		</testsuite>
	</testsuites>
</phpunit>